$color-primary: var(--color-primary, #000) !default;

#openstreetmap {
	.openstreetmap__sidebar {
		.openstreetmap__collection__item {
			cursor: pointer;

			.c-collection__content {
				transition: transform 300ms;
				transform: translateX(0);
			}
			&:hover .c-collection__content {
				transform: translateX(.25rem);
			}
		}

		&.has-active {
			.openstreetmap__collection__item,
			.c-pagination,
			[js-pagination-item]:not(.is-active) {
				display: none;
			}

			.is-active[js-pagination-item] {
				.openstreetmap__post {
					display: block;
				}
			}

			.openstreetmap__container {
				padding: 0;
			}
		}
		
		.openstreetmap__container {
			.openstreetmap__post {
				display: none;
			}
		}
	}

	.openstreetmap__post {
		.openstreetmap__post-container {
			flex-direction: column;
		}

		.openstreetmap__post-related-posts {
			margin-right: auto;
			margin-left: auto;
			padding: 0;
		}

		.openstreetmap__post-icon {
			position: absolute;
			top: 1rem;
			left: 1rem;
			background-color: $color-primary;
			padding: .25rem;
			border-radius: 50%;
			cursor: pointer;
			z-index: 3000;
		}

		&.c-group--size-sm {
			.openstreetmap__post-related-post {
				flex: 0 0 calc(50% - var(--grid-gap)*0.5);
    			max-width: calc(50% - var(--grid-gap)*.5);
			}
		}

		&.c-group--size-md {
			.openstreetmap__post-container {
				flex-direction: row;
			}

			.openstreetmap__post-content {
				flex: 0 0 calc(75% - var(--grid-gap)*0.25);
				max-width: calc(75% - var(--grid-gap)*.25);
			}

			.openstreetmap__post-list {
				flex: 0 0 calc(25% - var(--grid-gap)*0.75);
				max-width: calc(25% - var(--grid-gap)*.75);
			}

			.openstreetmap__post-related-post {
				flex: 0 0 calc(33.33333% - var(--grid-gap)*0.66667);
    			max-width: calc(33.33333% - var(--grid-gap)*.66667);
			}
		}
	}
}